<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAuthenticationService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProfileService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendsService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchStatusService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChatService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDrawService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReportService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserService"
                contract="GameServices.IUserService" name="NetTcpBinding_IUserService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthenticationService"
                contract="GameServices.IAuthenticationService" name="NetTcpBinding_IAuthenticationService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerService"
                contract="GameServices.IPlayerService" name="NetTcpBinding_IPlayerService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileService"
                contract="GameServices.IProfileService" name="NetTcpBinding_IProfileService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFriendsService"
                contract="GameServices.IFriendsService" name="NetTcpBinding_IFriendsService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameService"
                contract="GameServices.IGameService" name="NetTcpBinding_IGameService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchStatusService"
                contract="GameServices.IMatchStatusService" name="NetTcpBinding_IMatchStatusService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService"
                contract="GameServices.IChatService" name="NetTcpBinding_IChatService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDrawService"
                contract="GameServices.IDrawService" name="NetTcpBinding_IDrawService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:6970/GuessWhoService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReportService"
                contract="GameServices.IReportService" name="NetTcpBinding_IReportService">
                <identity>
                    <userPrincipalName value="DESKTOP-UV09E3E\ANGEL" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>