<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
	<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	</providers>
  </entityFramework>
  <connectionStrings>
	<add name="GuessWhoContext" connectionString="metadata=res://*/GuessWhoModel.csdl|res://*/GuessWhoModel.ssdl|res://*/GuessWhoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=guesswho;persist security info=True;user id=guesswhoowner;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="GuessWhoServices.GuessWhoService">
        <endpoint address="GuessWhoService" binding="netTcpBinding" bindingConfiguration="" contract="GuessWhoServices.IUserService" />
		<endpoint address="GuessWhoService" binding="netTcpBinding" bindingConfiguration="" contract="GuessWhoServices.IAuthenticationService" />
		<endpoint address="GuessWhoService" binding="netTcpBinding" bindingConfiguration="" contract="GuessWhoServices.IPlayerService" />
		<endpoint address="GuessWhoService" binding="netTcpBinding" bindingConfiguration="" contract="GuessWhoServices.IProfileService" />
		<endpoint address="GuessWhoService" binding="netTcpBinding" bindingConfiguration="" contract="GuessWhoServices.IFriendsService"/>
		<endpoint address="GuessWhoService" binding="netTcpBinding" bindingConfiguration="" contract="GuessWhoServices.IGameService"/>
		<endpoint address="GuessWhoService" binding="netTcpBinding" bindingConfiguration="" contract="GuessWhoServices.IMatchStatusService"/>
		<host>
          <baseAddresses>
            <add baseAddress="http://localhost:6969" />
            <add baseAddress="net.tcp://localhost:6970" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>